{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <link rel="stylesheet" href="{% static 'css/logstyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
  <!-- {% if messages %}
        {% for message in messages %}
            {% if message.tags == "warning" %}
            <script>
              alert('Login Unsuccessfull!!!. Please check Username/Password');
            </script>
            {% endif %}
        {% endfor %}
    {% endif %} -->

    <!--Content before waves-->
    <div class="inner-header flex">
      <!--Just the logo.. Don't mind this-->
      <div class="center">
        <h1>Login</h1>
        <form method="post">
          {% csrf_token %}

          {% if messages %}
          <div class="show">
              {% for message in messages %}
              <div class="alert alert-success" role="alert">
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
              </div>
              {% endfor %}
            </div> 
              {% endif %}


          <div class="txt_field">
            <input type="text" name="username" required>
            <span></span>
            <label>Username</label>
          </div>
          <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" value="Login">
          <div class="signup_link">
            Not a member? <a href="{% url 'patient:register' %}">Signup</a>
          </div>
        </form>
      </div>
    </div>
  
    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->
  
  </div>
  <!--Header ends-->
  <script>
    setTimeout(function() {
      var errorMessages = document.querySelectorAll('.show');
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].remove();
        }
    }, 5000);
</script>
 
</body>
</html>