{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>test</title>
    <link rel="stylesheet" href="{% static 'css/logstyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

    <!--Content before waves-->
    <div class="inner-header2 flex2">
      <!--Just the logo.. Don't mind this-->
      <div style="margin-top: 100px;" class="wrapper">
    <h2>Registration</h2>

    <div class="show">
      {% if messages %}
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
        {% endif %}
    </div>


    <form action="" method="POST">
      {% csrf_token %}
      <div class="input-box">
        {{ form.username }}
      </div>
      <div class="input-box">
        {{ form.phone }}
      </div>
      <div class="input-box">
        {{ form.email }}
      </div>
      <div class="input-box">
        {{ form.password1 }}
      </div>
      <div class="input-box">
        {{ form.password2 }}
      </div>
      <input type="submit" value="Sign UP">
      <div class="signup_link">
      Already have an account? <a href="{% url 'patient:login' %}">Login Here</a>
    </div>    
  </form>
  </div>
    </div>
  
    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!--Waves end-->
  
  </div>
  <!--Header ends-->

  <script>
    setTimeout(function() {
      var errorMessages = document.querySelectorAll('.show');
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].remove();
        }
    }, 2000);
</script>
  
 
</body>
</html>